################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KafkaClient/bin/Debug/netcoreapp2.2
/KafkaClient/obj
/.vs/KafkaClient/v15
/.vs/KafkaClient/lut
/KafkaClient.Tests/bin/Debug/netcoreapp2.2
/KafkaClient.Tests/obj
